<!DOCTYPE html>
<html>
  <head>
  	<title>Rock, Paper, Scissors, Lizard, Spock
  	</title>
  	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
 <body>
 	<div align="center">
		<h3>Rock, Paper, Scissors, Lizard, Spock</h3>

		<br>

		<%= @rpsl.display %>

		<br><br>

	 	<FORM METHOD="LINK" ACTION="/">
		<INPUT TYPE="submit" VALUE="Play Again">
		</FORM>
	</div>
</body>
</html>