<!DOCTYPE html>
<html>
  <head>
  	<title>Rock, Paper, Scissors, Lizard, Spock
  	</title>
  	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
 <body>

 	<img src="/img/rpsls.jpg">

 	<h3>Throw down</h3>

	<FORM METHOD="LINK" ACTION="throw/rock">
	<INPUT TYPE="submit" VALUE="Rock">
	</FORM>

	 <FORM METHOD="LINK" ACTION="throw/paper">
	<INPUT TYPE="submit" VALUE="Paper">
	</FORM>

	 <FORM METHOD="LINK" ACTION="throw/scissors">
	<INPUT TYPE="submit" VALUE="Scissors">
	</FORM>

	 <FORM METHOD="LINK" ACTION="throw/lizard">
	<INPUT TYPE="submit" VALUE="Lizard">
	</FORM>


	 <FORM METHOD="LINK" ACTION="throw/spock">
	<INPUT TYPE="submit" VALUE="Spock">
	</FORM>

	<br><br>

 </body>
</html>  