<!DOCTYPE html>
<html>
  <head>
  	<title>Rock, Paper, Scissors, Lizard, Spock
  	</title>
  	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
 <body>
 	

 		<%= yield %>


 </body>
</html>  